@tailwind base;
@tailwind components;
@tailwind utilities;

/* Responsive behavior */
#menuButton {
    display: none;
}
@media (max-width: 800px) {
    #menuButton {
        display: flex;
    }
    #desktopNav {
        display: none !important;
    }
}

/* Hamburger transforms to X */





